@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, 'Geneva', Tahoma, sans-serif;
    --fonte2: 'Passion One', 'cursive';
    --fonte3: 'Sriracha', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: rgb(253, 244, 244);
    font-family: var(--fonte1);
}


header {
    color: white;
    background-color: black;
    text-align: center;
}

header h1{
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 4.5em;
    padding-top: 50px;
    font-size: 10vw;
}

header p {
    font-family: var(--fonte1);
    padding-bottom: 50px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

main {
    font-family: var(--fonte3);
    line-height: 2em;
    font-size: 8vh;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section.img {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.img > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

#img1 {
    background-image: url(../imagens/girassol.jpeg);
    background-position: right center;
}

#img2 {
    background-image: url(../imagens/caligrafia.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--fonte1);
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer a:active {
    color: blue;
}